*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: roboto;
  }
  
  main{
    width: 100%;
    min-height: 200vh;
    overflow: hidden;
  }
  nav{
    min-height: 80px;
    width: 100%;
    position: fixed;
     background:linear-gradient(100deg ,#222 10%, #555 30%,#aaa 45%, #fff 50%,#aaa 55%,#555 80%,#222 90%);
     top: 0;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: center;
     z-index: 999;
     overflow: hidden;
  }
  nav img{
    height: 75px;
    margin-left: 25px;
  }
  nav ul{
    display: flex;
  }
  nav ul li{
    width: 150px;
    height: 80px;
  }
  nav ul li a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 80px;
    font-size: 24px;
  
  }
  header{
    width: 100%;
    height: 85vh;
    overflow: hidden;
    background: #fc0;
  }
  header > img{
    clip-path: circle(50% at 50% 35%);
    width: 100%;
  }
  

  
  section:first-of-type{
    width: 80%;
    min-height: 220px;
    position: relative;
    top: -80px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    flex-flow: wrap;
  }
  .block{
    width: max(200px , 22%);
    height: 180px;
    border: 1px solid #fc0;
    border-radius: 20px;
    box-shadow: 0px 10px 10px -10px ;
    margin-block: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  .block:first-of-type{
    background:#fff url(../images/footballacademy.jpg) no-repeat center/100%;
  }
  .block:nth-of-type(2){
    background:#fff url(../images/squashacademy.jpg) no-repeat center/100%;
  }
  .block:nth-of-type(3){
    background:#fff url(../images/swimmingacademy.jpg) no-repeat center/100%;
  }
  .block:last-of-type{
    background:#fff url(../images/tennisacademy.jpg) no-repeat center/100%;
  }
  
  .block .overlay{
    width: 100%;
    height: 100%;
    background: rgba(255, 204, 0, 0.849);
    clip-path: circle(0% at 0 0);
    transition: all 1s;
    overflow: hidden;
    font-size: 20px;
    /* text-align: center; */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
  }
  .block:hover .overlay{
    clip-path: circle(70% at 0 0);
  }
  
  /* div{
    width: 200px;
    height: 200px;
    background: #00f;
    color: #fff;
    text-align: center;
    line-height: 200px;
  }
  div:has(p){
    background: red;
  }
  div:has(:empty){
    background: green;
  }*/
  form{
    width: 60%;
    margin: auto;
    min-height: 250px;
    background: #fff;
    box-sizing: border-box;
    padding: 20px;
   
    border: 2px solid #fc0;
    box-shadow: 0px 0px 10px #fc0;
  } 
  legend{
    font-size: 40px;
    color: rgb(168, 142, 35);
    text-align: center;
  }
  legend img{
    width: 30px;
    padding-right: 10px;
  }
  .row{
    display: flex;
    margin-block: 10px;
    justify-content: space-between;
    padding-inline: 50px;
    align-items: center;
  }
  .row-end{
    display: flex;
    justify-content: end;
  
  }
  input[type="submit"]{
  margin-inline: 10px;
  width: 100px;
  padding: 10px;
  background: green;
  color: #fff;
  border: 1px solid #fff;
  border-radius:15px ;
  cursor: pointer;
  -webkit-border-radius:15px ;
  -moz-border-radius:15px ;
  -ms-border-radius:15px ;
  -o-border-radius:15px ;
}
  input[type="submit"]:hover{
    background: darkgreen;
    box-shadow: 0px 0px 10px #000;
   
  }
  input[type="reset"]{
    margin-inline: 10px;
    width: 100px;
    background: rgb(158, 158, 28);
    color: #fff;
    border: 1px solid #fff;
    border-radius:15px ;
   cursor: pointer;
   
  }
  input[type="reset"]:hover{
    background: darkgoldenrod;
    box-shadow: 0px 0px 10px #000;

  }
  .row input:not(input[type="color"], input[type="radio"]){
    width: 350px;
    height: 30px;
   
  }
  label{
    color: rgb(84, 122, 23);
  }
  hr{
    border: 2px solid #fc0;
    width: 50%;
    margin: auto;
  }
